html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

strong, th { font-weight: bold; }

em, i { font-style: italic; }

input[type="submit"], input[type="button"], button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

:focus { outline: none; }

::-moz-focus-inner { border: 0; }

label { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline-style: none; }

html { position: relative; min-height: 100%; }

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; color: black; word-wrap: break-word; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: none; min-width: 320px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background: #586e75; }

.inner { margin: 0 auto; position: relative; height: inherit; min-height: inherit; background-color: #839496; }

.flt-form label[for] { cursor: pointer; line-height: 28px; display: block; }

.flt-form__text-input, .flt-form__email-input, .flt-form__tel-input { -webkit-transition: all 0.1s ease; -moz-transition: all 0.1s ease; transition: all 0.1s ease; border-radius: 6px; padding: 10px 15px; height: 48px; font-size: 18px; line-height: 28px; }
.flt-form__text-input:hover, .flt-form__text-input:focus, .flt-form__email-input:hover, .flt-form__email-input:focus, .flt-form__tel-input:hover, .flt-form__tel-input:focus { outline: none; background: #eee8d5; }

.flt-form__mainbox-inline-group:before, .flt-form__mainbox-inline-group:after { content: " "; display: table; }
.flt-form__mainbox-inline-group:after { clear: both; }

.flt-form__radio-label { cursor: pointer; float: left; margin-right: 10px; }

.flt-form__radio-input { margin-right: 5px; }

@media screen and (max-width: 719px) { .flt-form__fieldset { padding: 0 20px; } }
@media screen and (min-width: 720px) and (max-width: 959px) { .inner { width: 720px; }
  .flt-form { width: 720px; margin: 0 auto; }
  .flt-form__row { padding: 6px 0; }
  .flt-form__row:before, .flt-form__row:after { content: " "; display: table; }
  .flt-form__row:after { clear: both; }
  .flt-form__subbox { float: left; width: 200px; padding-right: 10px; text-align: right; }
  .flt-form__mainbox { float: left; width: 520px; }
  .flt-form label[for] { margin: 10px 0; }
  .flt-form__text-input, .flt-form__email-input, .flt-form__tel-input { width: 400px; } }
@media screen and (min-width: 960px) { .inner { width: 920px; }
  .flt-form { width: 720px; margin: 0 auto; }
  .flt-form__row { padding: 6px 0; }
  .flt-form__row:before, .flt-form__row:after { content: " "; display: table; }
  .flt-form__row:after { clear: both; }
  .flt-form__subbox { float: left; width: 200px; padding-right: 10px; text-align: right; }
  .flt-form__mainbox { float: right; width: 520px; }
  .flt-form label[for] { margin: 10px 0; }
  .flt-form__text-input, .flt-form__email-input, .flt-form__tel-input { width: 400px; } }
