@mixin transparent-bg($color, $opacity) {
	background-color: $color;
	background-color: rgba($color, $opacity);
}


@mixin transparent-color($color, $opacity) {
	color: $color;
	color: rgba($color, $opacity);
}


@mixin border-box {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


@mixin disable-user-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline-style: none;
}


@mixin clearfix {

	//	 Clearfix: contain floats
	//
	//	 For modern browsers
	//	 1. The space content is one way to avoid an Opera bug when the
	//	    `contenteditable` attribute is included anywhere else in the document.
	//	    Otherwise it causes space to appear at the top and bottom of elements
	//	    that receive the `clearfix` class.
	//	 2. The use of `table` rather than `block` is only necessary if using
	//	    `:before` to contain the top-margins of child elements.

	&:before,
	&:after {
		content: " ";   // 1
		display: table; // 2
	}

	&:after {
		clear: both;
	}
}


@mixin overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


@mixin padding-box {
	/* Prevent background color leak outs */
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}


@mixin hyphens {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	-webkit-hyphenate-before: 3;
	-webkit-hyphenate-after: 3;
	hyphenate-before: 3;
	hyphenate-after: 3;
}


@mixin arrow-up($size: 10px, $color: black) {
	width: 0;
	height: 0;
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-bottom: $size solid $color;
}

@mixin arrow-down($size: 10px, $color: black) {
	width: 0;
	height: 0;
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-top: $size solid $color;
}

@mixin arrow-right($size: 10px, $color: black) {
	width: 0;
	height: 0;
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: $size solid $color;
}

@mixin arrow-left($size: 10px, $color: black) {
	width: 0;
	height: 0;
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-right: $size solid $color;
}

@mixin arrow-on-bottom($size: 10px, $color: black, $left: 50%) {
	position: relative;

	&:after {
		@include arrow-down($size, $color);
		position: absolute;
		left: $left;
		content: "";
		margin-left: -$size;
		bottom: -($size - 1);
	}
}

@mixin arrow-on-bottom-line($size: 10px, $line-color: black, $overlay-color: white, $left: 50%) {
	position: relative;
	&:before {
		@include arrow-down($size, $overlay-color);
		pointer-events: none;
		position: absolute;
		left: $left;
		content: "";
		margin-left: -$size;
		bottom: -($size - 1);
		z-index: 2;
	}

	&:after {
		@include arrow-down($size, $line-color);
		pointer-events: none;
		position: absolute;
		left: $left;
		content: "";
		margin-left: -$size;
		bottom: -($size);
	}
}

@mixin arrow-on-top-line($size: 10px, $line-color: black, $overlay-color: white, $left: 50%) {
	position: relative;
	&:before {
		@include arrow-up($size, $overlay-color);
		pointer-events: none;
		position: absolute;
		left: $left;
		content: "";
		margin-left: -$size;
		top: -($size - 1);
		z-index: 2;
	}

	&:after {
		@include arrow-up($size, $line-color);
		pointer-events: none;
		position: absolute;
		left: $left;
		content: "";
		margin-left: -$size;
		top: -($size);
	}
}

@mixin arrow-on-top-line-reverse($size: 10px, $line-color: black, $overlay-color: white, $right: 50%, $offset: 0) {
	position: relative;
	&:before {
		@include arrow-down($size, $overlay-color);
		position: absolute;
		right: $right;
		content: "";
		margin-right: -$size;
		top: -($size + $offset);
		z-index: 666;
	}

	&:after {
		@include arrow-down($size, $line-color);
		position: absolute;
		right: $right;
		content: "";
		margin-right: -$size;
		top: -($size - 1 + $offset);
	}

}

@mixin arrow-on-right($size: 10px, $color: black, $left: 50%) {
	position: relative;

	&:after {
		@include arrow-right($size, $color);
		position: absolute;
		top: $left;
		content: "";
		margin-top: -$size;
		right: -$size;
	}
}

@mixin arrow-on-left($size: 10px, $color: black, $left: 50%) {
	position: relative;

	&:after {
		@include arrow-left($size, $color);
		position: absolute;
		top: $left;
		content: "";
		margin-top: -$size;
		left: -$size;
	}
}

@mixin arrow-on-top($size: 10px, $color: black, $left: 50%) {
	position: relative;

	&:after {
		@include arrow-up($size, $color);
		position: absolute;
		left: $left;
		content: "";
		margin-left: -$size;
		top: -$size;
	}
}

@mixin arrow-on-top-reverse($size: 10px, $color: black, $left: 50%) {
	position: relative;

	&:after {
		@include arrow-down($size, $color);
		position: absolute;
		left: $left;
		content: "";
		margin-left: -$size;
		top: -($size + 1);
		z-index: 1;
	}
}