.flt-form {
	width: $flt-form__setting-with-form-medium;
	margin: 0 auto;
}


.flt-form__intro {
	padding: $flt-form__setting-padding-intro-medium;
}


.flt-form__fieldset {
	padding: $flt-form__setting-padding-fieldset-medium;
}


.flt-form__subtitle {
	padding-left: $flt-form__setting-width-subbox-medium;
}


.flt-form__row {
	@include clearfix;
	> .flt-form__error-box {
		margin-left: $flt-form__setting-width-subbox-medium;
	}
}


.flt-form__subbox {
	float: left;
	width: $flt-form__setting-width-subbox-medium;
	padding-right: $flt-form__setting-padding-right-subbox-medium;
	text-align: right;
}


.flt-form__mainbox {
	float: right;
	width: $flt-form__setting-max-width-mainbox-medium;
	padding-right: $flt-form__setting-max-width-mainbox-medium - $flt-form__setting-max-width-input;
}


.flt-form__label,
.flt-form__label-radio,
.flt-form__label-checkbox {
	padding-top: $flt-form__setting-padding-top-label-medium;
	padding-bottom: $flt-form__setting-padding-bottom-label-medium;
}


.flt-form__input {
	width: $flt-form__setting-max-width-input;
	&.flt-form__input-width-xs { max-width: $flt-form__setting-max-width-input-xs; }
	&.flt-form__input-width-s {  max-width: $flt-form__setting-max-width-input-s; }
	&.flt-form__input-width-m {  max-width: $flt-form__setting-max-width-input-m; }
	&.flt-form__input-width-l { max-width: $flt-form__setting-max-width-input-l; }
}