.flt-form {
	width: $flt-form__setting-with-form-large;
	margin: 0 auto;
}


.flt-form__intro {
	padding: $flt-form__setting-padding-intro-large;
}


.flt-form__fieldset {
	padding: $flt-form__setting-padding-fieldset-large;
}


.flt-form__subtitle {
	padding-left: $flt-form__setting-width-subbox-large;
}


.flt-form__row {
	@include clearfix;
	> .flt-form__messages {
		margin-left: $flt-form__setting-width-subbox-large;
	}
}


.flt-form__subbox {
	float: left;
	width: $flt-form__setting-width-subbox-large;
	padding-right: $flt-form__setting-padding-right-subbox-large;
	text-align: right;
}


.flt-form__mainbox {
	float: right;
	width: $flt-form__setting-max-width-mainbox-large;
	padding-right: $flt-form__setting-max-width-mainbox-large - $flt-form__setting-max-width-input;
}


.flt-form__label,
.flt-form__label-radio,
.flt-form__label-checkbox {
	padding-top: $flt-form__setting-padding-top-label-large;
	padding-bottom: $flt-form__setting-padding-bottom-label-large;
}


.flt-form__label {
	&.flt-form__label-size-xs { font-size: $flt-form__setting-font-size-label-xs }
	&.flt-form__label-size-s  { font-size: $flt-form__setting-font-size-label-s }
	&.flt-form__label-size-m  { font-size: $flt-form__setting-font-size-label-m }
	&.flt-form__label-size-l  { font-size: $flt-form__setting-font-size-label-l }
}


.flt-form__input {
	width: $flt-form__setting-max-width-input;
	&.flt-form__input-width-xs { max-width: $flt-form__setting-max-width-input-xs; }
	&.flt-form__input-width-s {  max-width: $flt-form__setting-max-width-input-s; }
	&.flt-form__input-width-m {  max-width: $flt-form__setting-max-width-input-m; }
	&.flt-form__input-width-l { max-width: $flt-form__setting-max-width-input-l; }
}