.flt-form {
	width: $flt-form__media-query-medium;
	margin: 0 auto;
}


.flt-form__intro {
	padding: 80px 0;
	> * {
		max-width: 520px;
		margin: 0 auto;
	}
}


.flt-form__subtitle {
	padding-left: 200px;
}


.flt-form__row {
	@include clearfix;
	> .flt-form__error-box {
		margin-left: 200px;
	}
}


.flt-form__subbox {
	float: left;
	width: 200px;
	padding-right: 10px;
	text-align: right;
}


.flt-form__mainbox {
	float: right;
	width: 520px;
	padding-right: 120px;
}


.flt-form__label,
.flt-form__label-radio,
.flt-form__label-checkbox {
	padding-top: 10px;
	padding-bottom: 10px;
}


.flt-form__input {
	width: 400px;
	&.flt-form__input-width-xs { max-width: 60px; }
	&.flt-form__input-width-s {  max-width: 100px; }
	&.flt-form__input-width-m {  max-width: 200px; }
	&.flt-form__input-width-l { max-width: 300px; }
}