.flt-form__intro {
	border-bottom: 4px solid $base2;
}

.flt-form__title {
	font-size: 48px;
	line-height: 54px;
	font-weight: bold;
	color: $blue;
}

.flt-form__subtitle {
	font-size: 24px;
	font-weight: bold;
	color: $blue;
	margin-bottom: 9px;
	margin-top: 27px;
}

.flt-form {
	font-size: 16px;
	padding-bottom: 40px;
	label[for] {
		cursor: pointer;
	}
}

.flt-form__fieldset {
	padding: 30px 0;
	border-bottom: 2px solid $base2;
	> *:first-child {
		padding-top: 0;
		margin-top: 0;
	}
	> *:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	&:last-child {
		border-bottom: none;
	}
}

.flt-form__row {
	padding: 6px 0;
}

.flt-form__label {
	font-weight: bold;
	line-height: 24px;
	display: block;
}

.flt-form__label-required {
	&:after {
		content: '*';
		color: $red;
	}
}

.flt-form__mainbox-inline-group {
	@include clearfix;
}

.flt-form__input {
	@include appearance(none);
	@include border-box;
	border-radius: $border-radius;
	padding: 10px 15px;
	height: 44px;
	font-size: 16px;
	line-height: 24px;
	background-color: $white;
	box-shadow: 0 0 0 1px #aaa, inset 0 1px 2px rgba(0,0,0,.15);
	font-family: inherit;
	&:focus {
		box-shadow: 0 0 0 2px $blue, inset 0 1px 2px rgba(0,0,0,.15);
	}
}

.flt-form__radio-label,
.flt-form__checkbox-label {
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
	line-height: 24px;
	padding-left: 24px;
	.flt-form__input-indicator {
		@include disable-user-select;
		display: block;
		position: absolute;
		top: 4px;
		left: 0;
		width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		color: $white;
		background-color: $white;
		box-shadow: 0 0 0 1px $base1;
	}
}

.flt-form__radio-label .flt-form__input-indicator {
	border-radius: 50%;
	font-size: 20px;
	&:before {
		display: block;
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: $white;
		margin: 3px;
	}
}

.flt-form__checkbox-label .flt-form__input-indicator {
	border-radius: $border-radius / 2;
	font-size: 12px;
	&:before {
		content: '\2714';
	}
}

.flt-form__radio-input:focus ~ .flt-form__input-indicator,
.flt-form__checkbox-input:focus ~ .flt-form__input-indicator {
	box-shadow: 0 0 0 2px $blue;
}

.flt-form__radio-input:checked ~ .flt-form__input-indicator:before {
	background-color: $base02;
}

.flt-form__checkbox-input:checked ~ .flt-form__input-indicator {
	color: $base02;
}

.flt-form__radio-input,
.flt-form__checkbox-input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.flt-form__select-label {
  position: relative;
  display: inline-block;
}

.flt-form__select-input {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  height: 44px;
  font-size: 16px;
  line-height: 24px;
  background-color: $white;
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: 0 0 0 1px #aaa;
	font-family: inherit;
	&:focus {
		box-shadow: 0 0 0 2px $blue;
	}
}

/* Undo the Firefox inner focus ring */
.flt-form__select-input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* Dropdown arrow */
.flt-form__select-label:after {
  position: absolute;
  top: 50%;
  right: 20px;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -3px;
  pointer-events: none;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
}

/* Hide the arrow in IE10 and up */
.flt-form__select-input::-ms-expand {
  display: none;
}

/* Firefox hack to hide the arrow */
@-moz-document url-prefix() {
  .flt-form__select-input {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 20px;
  }
}

/* IE9 hack to hide the arrow */
@media screen and (min-width:0\0) {
  .flt-form__select-input {
    z-index: 1;
    padding: 10px 15px;
  }
  .flt-form__select-label:after {
    z-index: 5;
  }
  .flt-form__select-label:before {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 24px;
    background-color: $base0;
  }
  .flt-form__select-input:hover,
  .flt-form__select-input:focus,
  .flt-form__select-input:active {
    color: $base1;
    background-color: $base0;
  }
}

.flt-form__label-error {
	color: $red;
}

.flt-form__input-error {
	box-shadow: 0 0 0 2px $red;
	&:focus {
		box-shadow: 0 0 0 2px $red;
	}
}

.flt-form__error-box {
	@include clearfix;
	margin: 4px 0;
}

.flt-form__error-message {
	background-color: lighten($red, 35%);
	color: darken($red, 25%);
	padding: 3px 15px;
	max-width: 400px;
	border-radius: $border-radius;
	font-size: 14px;
	float: left;
}

.flt-form__mainbox {
	.flt-form__error-message {
		@include arrow-on-top-line(9px, $white, lighten($red, 35%), 19px);
	}
}

.flt-form__description {
	font-size: 14px;
}

.flt-form__submit {
	padding: 10px 40px;
	font-size: 18px;
	border-radius: $border-radius;
	background-color: $blue;
	color: $white;
	cursor: pointer;
	border-bottom: 2px solid darken($blue, 20%);
	&:hover,
	&:focus {
		background-color: lighten($blue, 5%);
	}
	&:active {
		position: relative;
		top: 1px;
		border-bottom: none;
		margin-bottom: 2px;
	}
}