label[for] {
	cursor: pointer;
	line-height: 28px;
	display: block;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"] {
	@include transition(all 0.1s ease);
	border-radius: $border-radius;
	padding: 10px 15px;
	height: 48px;
	font-size: 18px;
	line-height: 28px;
	&:hover,
	&:focus {
		outline: none;
		background: $base2;
	}
}