.form-validate {
	background-color: $magenta;
}

.form-validate__fieldset {
	background-color: $cyan;
}

.form-validate__fieldset__row {
	background-color: $red;
}

.form-validate__fieldset__row__label {
	background-color: $violet;
}

.form-validate__fieldset__row__input {
	background-color: $blue;
}