.form-validate {
}

.form-validate__fieldset {
}

.form-validate__fieldset__row {
}

.form-validate__fieldset__row__label {
}

.form-validate__fieldset__row__input {
}

.form-validate__fieldset__row__input-inline-group {
	@include clearfix;
}

.form-validate__fieldset__row__input__radio {
	cursor: pointer;
	float: left;
	margin-right: 10px;
}

.form-validate__fieldset__row__input__radio__input {
	margin-right: 5px;
}