body {
	font-family                 : $flt-form__setting-font-family;
	font-size                   : $flt-form__setting-font-size;
	line-height                 : $flt-form__setting-line-height;
	color                       : $flt-form__color-text;
	word-wrap                   : break-word;
	min-width                   : $flt-form__media-query-small;
	background                  : $flt-form__color-background;

	-webkit-font-smoothing      : antialiased;
	-webkit-text-size-adjust    : none;
	-webkit-tap-highlight-color : $flt-form__color-webkit-tab-highlight;

	-moz-osx-font-smoothing     : grayscale;
}


.inner  {
	margin                      : 0 auto;
	position                    : relative;
	background-color            : $flt-form__color-background-inner;
}


a {
	color                       : $flt-form__color-links;
	text-decoration             : none;
	padding-bottom              : $flt-form__setting-padding-bottom-link;
	border-bottom               : $flt-form__setting-border-bottom-link;
}